@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.title {
    font-size: 135px;
    text-align: center;
    font-family: "Bebas Neue";
    color: rgb(26, 226, 240);
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "256";
    height: "256";
}

.authors {
    font-size: 30px;
    text-align: center;
    font-family: "Bebas Neue";
    color: rgb(0, 0, 0);
    font-style: italic;
}

body {
    background-color: rgb(213, 245, 243);
}

.cityname {
    font-size: 85px;
    text-align: center;
    font-family: "Bebas Neue";
    color: rgb(98, 135, 255);
}

.weather_data {
    font-size: 35px;
    text-align: left;
    font-family: "Bebas Neue";
    color: rgb(48, 64, 118);
}

.table {
    text-align: center;
}

.table_header {
    font-size: 35px;
}
