h1 {
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}

.profile {
    text-align: center;
}

button {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}

#generate {
    font-size: 40;
}

body {
    background: rgb(82, 72, 252);
    background: linear-gradient(
        347deg,
        rgba(82, 72, 252, 0.8) 0%,
        rgba(120, 120, 228, 0.8) 29%,
        rgba(72, 213, 242, 0.8) 100%
    );
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#city_name {
    text-align: center;
}

.search-bar {
    width: 450px;
    margin: 30px auto;
}

#sign_out_button {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#signed_in_root {
    text-align: right;
}

#use_location_button {
    width: 200px;
    float: right;
}

#welcome {
    text-align: center;
}

#welcome {
    margin-top: 10px;
    margin-bottom: 10px;
}

#forecast-info {
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

#save_city_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
