@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* css to use this font: font-family: "Open Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

#title {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    font-family: "Bebas Neue";
    color: rgb(26, 226, 240);
}

body {
    background-color: rgb(213, 245, 243);
    margin: 0;
    padding: 0;
    border: 0;
}

#footer-container {
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    background-color: #8c8c8c;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

#page-content {
    
}


