@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* css to use this font: font-family: "Open Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

#title {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    font-family: "Bebas Neue";
    color: rgb(26, 226, 240);
}

body {
    background-color: rgb(213, 245, 243);
    margin: 0;
    padding: 0;
    border: 0;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}
#footer-container div {
    background-color: #8c8c8c;
    width: 100%;
}
/* 97 is the safe zone just in case */
#page-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

#center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90vw;
}
