body {
    background: rgb(82,72,252);
    background: linear-gradient(347deg, rgba(82,72,252,0.8) 0%, rgba(120,120,228,0.8) 29%, rgba(72,213,242,0.8) 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#locker-content {
    text-align: center;
}

#sign_out_button {
    margin-top: 10px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right:0;
}

h1 {
    text-align: center;
    padding-top: 40px;
}