<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>Weather Wear</title>
        <!-- bootstrap css stuff -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <!-- our own css for this page -->
        <link href="/css/city.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid">
            <button
                type="button"
                class="btn btn-primary float-start"
                onclick="goBack()"
            >
                Return Home
            </button>
            <button type="button" class="btn btn-primary float-end">°F</button>
            <div class="row">
                <p class="title">WeatherWear</p>
            </div>

            <div class="row">
                <p class="cityName"><%= info.cityName %></p>
            </div>

            <!-- make a table for the weatehr and stuff  -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="table_header" scope="col">Date</th>
                        <th class="table_header" scope="col">High</th>
                        <th class="table_header" scope="col">Low</th>
                        <th class="table_header" scope="col">OutFit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Day #</th>
                        <td>High</td>
                        <td>Low</td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-primary col-3"
                                id="search_button"
                                onclick="redirect()"
                            >
                                View OutFit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- bootstrap js stuff  -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/city.js"></script>
    </body>
</html>
