<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>Weather Wear - Outfit (<%= temp %>°C)</title>
        <!-- bootstrap css stuff -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <!-- our own css for this page -->
        <link href="/css/outfit.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <button
                    type="button"
                    class="btn btn-primary col"
                    onclick="history.back()"
                >
                    Back to Weather Page
                </button>
                <button
                    type="button"
                    class="btn btn-primary col flipUnits"
                    style="background-color: rebeccapurple"
                    onclick="flipUnits()"
                    id = "flipButton"
                >
                    °C
                </button>
            </div>

            <div class="row">
                <p class="title">WeatherWear</p>
            </div>

            <div class="row">
                <p class="tempTitle" id="flipUnits"><%= temp %>°C</p>
            </div>
        </div>
        <!-- bootstrap js stuff  -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/outfit.js"></script>
    </body>
</html>
