<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WeatherWear - <%= cityName %></title>
        <!-- add here in case browser doesn't make automatic request for favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <!-- css for this page -->
        <link href="/css/city.css" rel="stylesheet" />
        <!-- compatibility for browsers -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="title">WeatherWear</div>
        <div id="page-content">Hello</div>
        <div id="footer-container">
            Created By Tim Rolshud, David Lee, Nico Kichukov, 2022 Congressional App Challenge
        </div>
    </body>
</html>
