<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>Weather Wear</title>
    <!-- bootstrap css stuff -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- our own css for this page -->
    <link href="/css/locker.css" rel="stylesheet" />
</head>

<body>


    <div id="header-container">
        <div class = "outfit-header">
            Favorite Outfits
        </div>
        <div id="your-locker">

            <div id="title">
                Your Locker
            </div>
            
        </div>
        

    </div>
    <!-- bootstrap container, put all visible elements in here and use the grid system to align everything -->
    <div class="container">
        <div class="row">
            <p class="username">Welcome User!</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table_header" scope="col">Hat</th>
                    <th class="table_header" scope="col">Shirt</th>
                    <th class="table_header" scope="col">Pants</th>
                    <th class="table_header" scope="col">Shoes</th>
                </tr>
            <tbody>
                <tr class="tableRow">

                </tr>
            </tbody>
            </thead>


        </table>

    </div>
    <!-- bootstrap js stuff  -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>